<div *ngFor="let gymnast of gymnasts">
  <li (click)="goToProfile(gymnast)"> {{gymnast.name}}</li>
  <div *ngIf="currentRoute === '/admin'">
    {{gymnast.name}}
    {{gymnast.level}}
    {{gymnast.status}}
    {{gymnast.events}}
    {{gymnast.careerHighBeam}}
    {{gymnast.careerHighBars}}
    {{gymnast.careerHighFloor}}
    {{gymnast.careerHighVault}}
    <button (click)="selectGymnast(gymnast)">Edit</button>
    <button (click)="delete(gymnast)">Delete</button>
  </div>
</div>

<app-edit-gymnast [selectedGymnast]="selectedGymnast" (editGymnastSender)="editGymnast($event)"></app-edit-gymnast>
