<div class="well" id="well">
<h2>Add new gymnast to roster</h2>
<form>
  <label>Name</label>
  <input #newName class="form-control">
  <label>Career best score on bars</label>
  <input #newBars class="form-control">
  <label for="career-high-beam">Career best score on beam</label>
  <input #newBeam class="form-control">
  <label>Career best score on floor</label>
  <input #newFloor class="form-control">
  <label>Career best score on vault</label>
  <input #newVault class="form-control">
  <label>Level</label>
    <select #newLevel class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="1">7</option>
      <option value="2">8</option>
      <option value="3">9</option>
      <option value="1">10</option>
      <option value="bronze">Bronze</option>
      <option value="silver">Silver</option>
      <option value="gold">gold</option>
      <option value="platinum">Platinum</option>
      <option value="diamond">Diamond</option>
      <option value="elite">Elite</option>
    </select>
  <label>Status</label>
  <select #newStatus class="form-control">
    <option value="active">Active</option>
    <option value="inactive">inactive</option>
    <option value="injured">injured</option>
  </select>
  <label>Events</label>
  <input #newEvents class="form-control">
  <button id="click" (click)="submitNewGymnast(newName.value, newLevel.value, newEvents.value, newBeam.value, newBars.value, newFloor.value, newVault.value, newStatus.value)">Add</button>
</form>
</div>
<app-team-list></app-team-list>



<!-- newName.value=''; newBars.value=''; newBeam.value=''; newFloor.value=''; newVault.value=''; newLevel.value=''; newStatus.value=''; newEvents=''; -->
