<h2>Add new gymnast to roster</h2>

<form>
  <label>Name</label>
  <input #newName>
  <label>Career best score on bars</label>
  <input #newBars>
  <label for="career-high-beam">Career best score on beam</label>
  <input #newBeam>
  <label>Career best score on floor</label>
  <input #newFloor>
  <label>Career best score on vault</label>
  <input #newVault>
  <label>Level</label>
  <input #newLevel>
  <label>Status</label>
  <input #newStatus>
  <label>Events</label>
  <input #newEvents>
  <button (click)="submitNewGymnast(newName.value, newBars.value, newBeam.value, newFloor.value, newVault.value, newLevel.value, newStatus.value, newEvents.value)">Add</button>
</form>
<app-team-list></app-team-list>



<!-- newName.value=''; newBars.value=''; newBeam.value=''; newFloor.value=''; newVault.value=''; newLevel.value=''; newStatus.value=''; newEvents=''; -->
